html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.carousel-inner .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-inner .item .col-sm-4 {
        float: none;
        display: inline-block;
    }

.custom-shadow {
    -webkit-box-shadow: inset 10px 10px 161px -37px rgba(0,0,0,0.72);
    -moz-box-shadow: inset 10px 10px 161px -37px rgba(0,0,0,0.72);
    box-shadow: inset 10px 10px 161px -37px rgba(0,0,0,0.72);
}

.custom-card {
    border: none !important; /* Remove a borda do card */
}